body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
      
    }

.header-entire-body {
    background-color: #1F2937;
    width: 100%;
    
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    font-size: 18px;
       
}

.header-logo {
    height: 75px;
    width: auto;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header-links a {
    color: #E5E7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 100px 400px;
    
        }

.intro {
    align-self: center;
    margin-right: 100px;
    inline-size: 400px;
   
          
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    padding: 0;
    margin: 0;
    
}

.hero-secondary {
    color: #E5E7eb;
    font-size: 18px;
   
           }


.sign-up-button {
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    padding: 5px 30px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.christian {
    height: 300px;
    width: auto;
}

.card-wrapper {
    margin: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-top: -20px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-image {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: #3882f6;
    border-style: solid;
}

.card-text {
    text-align: center;
    margin-top: -15px;
}

.quote-wrapper {
    background-color: #E5E7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    padding-right: 400px;
    margin: 100px;
     
   }

   .quote-text {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    
    
   }

   .quote-author {
       font-weight:700;
       align-self: flex-end;
       font-size: 32px;
       
       }

       .call-to-action-wrapper {
           margin: 100px;
       }

       .call-to-action-container {
           background-color: #3882f6;
           display: flex;
           justify-content: space-around;
           align-items: center;
           margin-left: 300px;
           margin-right: 300px;
           border-radius: 10px;
           padding: 50px;
       }

       h3 {
           color: #E5E7eb;
           padding: 0px;
           margin: 0px;
       }

       .call-to-action-text {
           color: #E5E7eb;
           padding: 0px;
           margin: 0px;
       }

       .sign-up-button-two {
           border: 2px solid #E5E7eb;
           background-color: #3882f6;
           color: #E5E7eb;
           padding-left: 25px;
           padding-right: 25px;
           padding-top: 5px;
           padding-bottom: 5px;
           border-radius: 10px;

                             }

        .footer-wrapper {
            background-color: #1F2937
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:  18px;
            color: #E5E7eb;
            margin: 10px;

        }



